.App {
  text-align: center;
  font-size: 2.4rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(../../images/dia-lluvioso.jpg);
}

.AppSunny {
  height: 100vh;
  background-image: url(../../images/dia-soleado.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.AppRainy {
  height: 100vh;
  background-image: url(../../images/dia-lluvioso.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.AppCloudy {
  height: 100vh;
  background-image: url(../../images/dia-nublado.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.AppSnowy {
  height: 100vh;
  background-image: url(../../images/dia-nevado.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.loadingImage {
  width: 200px;
  animation: rotation 5s infinite linear;
}

.textLoading {
  font-size: 2.5rem;
  color: #fff;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


@media screen and (min-width: 768px) {
  .App {
    display: flex;
    flex-direction: row;
  }
}